.l-nav-bar{
    z-index: 999;
    position: sticky;
    top: 0;
    
    /* height: 110px; */
    /* width: 50px; */
    border-bottom: 0.4px solid rgba(231, 231, 231, 0.788);
}
.top-nav{
    display: flex;
    height: 55px;
    padding: 5px 10px;
    background: #5f6cb3;
    justify-content: space-between;
    align-items: center;
    border-right: 0.2px solid rgba(218, 218, 218, 0.911);
}
.user-logo{
    /* flex: 1; */
}
.user-logo>img{

    width: 40px;
    height: 40px;   
    border-radius: 50%;
    object-fit: cover;
}
.options{
    /* flex: 4; */
    width: 180px;
    /* background: green; */
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.bottom-nav{
display: flex;
justify-content: center;
    padding: 0px 10px;
    align-items: center;
    height: 50px;
    position: relative;
    background: #b9c2f3;
}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    height: 35px;
    border-radius: 10px;
    padding: 0px 40px 0px 60px;
}
.search-icon{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 14px;
}
input{
    width: 200px;
    height: 100%;
    font-size: 16px;
    border: none;
    background: transparent;
}
.close-icon{
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 14px;
    cursor: pointer;
}

input:focus,
input:active {
    box-shadow: none ;
    -moz-box-shadow: none ;
    -webkit-box-shadow: none ;
    outline: none;
}
.filter-icon{
    margin-left: 10px;
    cursor: pointer;
}

.users-lists{
    background-color: aquamarine;
    position: absolute;
    width: 100%;
    display: flex;
    gap: 5px;
    /* padding: 0px 40px; */
    flex-direction: column;
}
