
    .chat-box {
        width: 100%;

        // box-sizing: border-box;
        .chat-section {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0px 60px 10px 60px;
            position: sticky;
            height: calc(100vh - 105px);
            top: 55px;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            
            background-position:center;
            
            background-size: cover;
            background-repeat: no-repeat;


            .message {
                width: 400px;
                color: rgb(10, 10, 10);
                position: relative;
                

                .box {
                    padding: 5px;
                    display: inline-block;
                    display: flex;
                    flex-direction: column;

                    .message-status {
                        // background: white;
                        align-self: flex-end;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        font-size: 12px;
                        height: 14px;
                        margin-top: 2px;
                    }
                }
                
                .box-left {
                    border-radius: 0px 5px 5px 5px;
                    background: #8deee9;
                    
                }
                
                .box-right {
                    border-radius: 5px 0px 5px 5px;
                    background: #fcabbb;
                    
                }
            }
            
            .message-right {
                align-self: flex-end;
            }
            
            .message-left {
                align-self: flex-start;
                
            }
            
            .message.arrow-left:after {
                content: " ";
                position: absolute;
                left: -10px;
                top: 0px;
                border-right: 15px solid #8deee9;
                border-left: none;
                border-bottom: 15px solid transparent;
                border-radius: 2px 0px 8px 0px;
            }
            
            
            .message.arrow-right:after {
                content: " ";
                position: absolute;
                right: -10px;
                top: 0px;
                border-right: none;
                border-left: 15px solid #fcabbb;
                border-bottom: 15px solid transparent;
                border-radius: 2px 0px 8px 0px;
            }
        }

        .message-input-section {
            z-index: 999;
            background: #5f6cb3;
            // background: yellow;
            position: sticky;
            bottom: 0;
            height: 50px;
            display: flex;
            padding: 5px 5px 5px 20px;

            .input-box {
                flex: 1;
                padding: 5px;
                border: 1px solid rgb(201, 201, 201);
                border-radius: 5px;
                font-size: 18px;
                background: #bbbfd8;
            }

            .send-button {
                // margin-left: 10px;
                width: 60px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align: center;
                margin: auto;

            }
        }
    }
