.LeftBar{
     background: #b4bbe0; 
    // position: relative;
    .user-lists{   
        position: sticky;
        top: 105px ;
        height: calc(100vh - 105px);
        overflow: scroll;
       
        &::-webkit-scrollbar{display: none;}
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}